
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
Ứng tuyển thành công    
}

<section class="hero-banner d-flex align-items-center">
    <div class="container text-center">
        <h2>Ứng tuyển thành công</h2>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>
    </div>
</section>